<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DemoApp</title>
=======
  <title>FirstApp</title>
>>>>>>> 9ee1bfc89291f75d02f23e0d2dc9798a3a5d07d2
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
